#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
    top: auto;
    
}
    


#banner .contenedor {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    
}

#banner h2 {
    font-size: 5px;
    color: aliceblue;
    font-size-adjust: auto;
   
}


#banner p {
    font-size: 15px;
    color: #ffffff;
    font-size-adjust: auto;
    height: auto;
    
}

#banner a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
    text-align: center;
   
}

#banner a:hover {
    background: rgba(49,49,49,0.9);
    color: #fff;
   
}


@media (min-width:320px) {
    #banner h2{
        font-size:30px; 
        text-align: center;
        background: rgba(25,25,25,0.2)
    
    }
    
    #banner p{
        text-align: center;
        top:100px;
        background: rgba(25,25,25,0.2)
    }
    
    #banner a {
        margin-top: 35px;
        float: right;
        top: auto;
       
    }
        
    
    #banner img{
        margin-top: auto;
    }
        
}    
    

@media (min-width:720px) {
    #banner {
        height: 350px;        
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
        margin-top: -98px;
    }
    
    #banner h2{
        font-size: 40px;
        background: rgba(25,25,25,0.2);
    }
    
    #banner p{
        font-size: 20px;
        background: rgba(25,25,25,0.2);
    }
    
    
    
     #banner a {
        margin-top: 35px;
        float: right;
        top: 155px;
        color: black; 
    }
        
}



@media (min-width:1024px) {
    #banner img {
        height:auto;
        margin-top: -14%;
        
    }
    
    #banner h2{
        font-size: 40px;
        background: rgba(25,25,25,0.2);
    }
    
    #banner p{
        font-size: 20px;
        background: rgba(25,25,25,0.2);
    
    
    }
    
    
    #banner a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-top: 125px;
    border: 1px solid #fff;
    text-align: center;
    background: rgba (255,255,255,0.2);     
    
}

}