#blog h2, h3, h4 {
    text-align: center;
    text-decoration:none;
        
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#blog .p{
    margin: 15px;
    left: auto;
    right: auto;
}




#blog article {
    margin: 15px;
    
}

#blog img {
    width: 1020px;
    max-width: 340px;
    position:relative;
    display: flex;
    border: black;    
}


#blog iframe {
    width: 1020px;
    max-width: 340px;
    position:relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


