*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background-color: rgb(51, 51, 51);
height: 100%;
}

body{
  font-family: 'ROBOTO';
}

header{
position: relative;
width: 100%;
height: 100px;
background-color: rgb(213, 212, 212);
align-items: center;

}


img{
position: absolute;
width: 65px;
left: 50%;
transform: translateX(-50%);
}


h1{
Position: relative;
width: 100%;
color:rgba(4, 64, 175, 0.932);
font-size: 20px;
text-align: center;
align-items: center;

}


.informe{
  position: absolute;
  background-color: rgb(92, 91, 91);
  top: 50px;
  width: 100%;
  height: 0px;
  height: 100%;
  align-content: center;
  overflow: hidden;
  
  
  
  }
  
  
  iframe{
    top: 0%;
    width: 1020px;
    height: 1020px;
    border: 1px rgb(3, 0, 0);
    background-color: rgb(92, 91, 91);
  
  }




.copy{
  position: relative;
  width: 100%;
  color:rgba(4, 64, 175, 0.932);
  font-size: 12px;
  text-align: center;
  transform: translateY(3800%);
  
}

















@media (min-width:500px){
    
  header{
    position: relative;
    width: 100%;
    height: 80px;
    align-items: center;
    
    }

  
  img{
    position: absolute;
    width: 70px;
    left: 20%;
    transform: translateX(-50%);
    }
    
    
    h1{
    Position:absolute;
    width: 100%;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    
    }
    
  
  .informe{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }

  iframe{
    width: 100%;
    height: 500px;
    border: 1px rgb(212, 212, 212);
    
  }



  
  .copy{
    display: none;
      }



}



@media (min-width:800px){
   
  header{
    position: relative;
    width: 100%;
    height: 200px;
    
    align-items: center;
    background-color: rgb(213, 212, 212);
    }

  
  img{
    position: absolute;
    width: 100px;
    left: 20%;
    transform: translateX(-50%);
    }
    
    
    h1{
    Position:absolute;
    width: 100%;
    background-color: rgb(213, 212, 212);
    font-size: 30px;
    text-align: center;
    align-items: center;
    
    
    }


  
  .informe{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }

  iframe{
    width: 100%;
    height: 105%;
    border: 1px rgb(212, 212, 212);
    
  }



  
  .copy{
    display: none;
      }



}
