*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background-color: rgb(92, 91, 91);
height: 100vh;
}

body{
  font-family: 'ROBOTO';
}


a{
text-decoration: none;
text-align: center;
color: rgb(233, 233, 233);
display: none;
}



h1{
Position: relative;
width: 100%;
color:rgb(255, 255, 255);
font-size: 30px;
text-align: center;
align-items: center;

}


.informe{
position: absolute;
background-color: rgb(92, 91, 91);
top: 50px;
width: 100%;
height: 580px;
align-content: center;
overflow: hidden;



}


iframe{
  top: 10%;
  width: 1020px;
  height: 1020px;
  border: 1px rgb(3, 0, 0);
  background-color: rgb(92, 91, 91);

}




.copy{
  position: relative;
  width: 100%;
  color:rgb(255, 255, 255);
  font-size: 12px;
  text-align: center;
  transform: translateY(4400%);
  
}



@media (min-width:500px){
    
  
  
  .informe{
    margin: auto;
    position: absolute;
    height: 600px;
    width: auto;
    
  }

  iframe{
        
    width: 1020px;
    height: 1020px;
    border: 1px rgb(212, 212, 212);
  }



  
  .copy{
    display: none;
      }



}
