*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background-color: rgb(212, 212, 212);

}

body{
  font-family: 'ROBOTO';
}


a{
text-decoration: none;
text-align: center;
color: rgb(233, 233, 233);
display: none;
}



h1{
Position: relative;
width: 100%;
color:rgb(61, 61, 61);
font-size: 40px;
text-align: center;


}


.informe{
position: absolute;
background-color: rgb(37, 37, 37);
width: 100%;
height: 600px;
overflow: hidden;



}


iframe{
  top: 30px;
  width: 1020px;
  height: 1020px;
  border: 1px rgb(212, 212, 212);
}




.copy{
  Position: relative;
  width: 100%;
  color:rgb(61, 61, 61);
  font-size: 12px;
  text-align: center;
  transform: translateY(4100%);
}



@media (min-width:500px){

  .informe{
    height: 650px;
    width: auto;
  }

  h1{
    max-width: 1000px;

  }
  .copy{
    left: 0%;
    
      }



}
