*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
  background-color: white;
  height: 100%;
  }
  
  body{
    font-family: 'ROBOTO';
  }
  
  header{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
  align-items: center;
  
  }
  
  
  img{
  position: absolute;
  width: 65px;
  left: 50%;
  transform: translateX(-50%);
  }
  
  
  h1{
  Position: relative;
  width: 100%;
  color:rgba(4, 64, 175, 0.932);
  font-size: 20px;
  text-align: center;
  align-items: center;
  
  }
  
  
  .informe{
    position: absolute;
    background-color: white;
    top: 50px;
    width: 100%;
    height: 580px;
    align-content: center;
    overflow: hidden;
    
    
    
    }
    

  .SEGUIMIENTO{

    position: absolute;
    background-color: white;
    top: 50px;
    width: 100%;
    height: 580px;
    align-content: center;
    



  }

  .pdfview{
    
    align-items: center;
    height: 100vh;
    width: 100%;


  }


    
    iframe{
      top: 0%;
      
      width: 1020px;
      height: 1020px;
      border: 1px rgb(3, 0, 0);
      background-color: white;
    
    }
  
  
  
  
  .copy{
    position: relative;
    width: 100%;
    color:rgba(4, 64, 175, 0.932);
    font-size: 12px;
    text-align: center;
    transform: translateY(3800%);
    
  }
  
  

  @media (min-width:500px){
    
    header{
      position: relative;
      width: 100%;
      height: 80px;
      align-items: center;
      
      }
  
    
    img{
      position: absolute;
      width: 70px;
      left: 20%;
      transform: translateX(-50%);
      }
      
      
      h1{
      Position:absolute;
      width: 100%;
      line-height: 38px;
      font-size: 20px;
      text-align: center;
      align-items: center;
      
      }
      
    
    .informe{
      margin: auto;
      position: absolute;
      height: 600px;
      width: auto;
      
    }
  
    iframe{
      width: 1020px;
      height: 1020px;
      border: 1px white;
      
    }
  
  
  
    
    .copy{
      display: none;
        }
  
  
  
 }
  
  
  @media (min-width:1020px){

    .informe{
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      height: 600px;
      width: auto;

    }
      
  }






