#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration-color: black;
}

#info .contenedor {
    display:flex;
    flex-flow:wrap;
    justify-content: center;
    
}

.info-banda {
    margin: 5px;
    
}

.info-banda h4{
    
text-align: center;
  
}


.info-banda img {
    width: 180px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
}


.info-banda copy{
    
    text-align: center;
}


@media (min-width:320px) {
    .info-banda {
        width: 60%;
        
    }

    .info-banda h4{
        text-align: center;
        font-size: 15px; 
    }
    
    .info-banda h3{
        text-align: center;
        font-size: 50px; 
    
    }

    .info-banda img{
         width: 50%;
         height: 80%;
         position: relative;  
        
    }
}


.info-banda p{
    text-align: center;
        font-size:15px; 
    
}   

.footer {
    width: 100%;
}



@media (min-width:720px) {
    .info-banda {
        width: 30%;
    }
    
    .info-banda img{
         width: 70%;
        height: 90%;
         position: relative;
     
}
    
}
@media (min-width:1024px) {
    .info-banda {
        width:20%;
        justify-content: center;
        
    }
    
        
    
    .info-banda copy{
        
        text-align: center;
    }
    
}
