*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


header{
position: relative;
width: 100%;
text-align: center;


}

h1{
position: relative;
line-height: 200px;
width: 100%;
height: 200px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
font-size: 20px;
color: rgb(4, 134, 255);

}

img{
    position: relative;
    width: 100%;
    max-width: 1000px;

}

.CONTENEDOR-MENU{
 position: absolute;
 text-align: center;
 width: 100%;
 height: 50px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;

 
}


.CONTENEDOR-MENU a{
  position: relative;
  top: 50px; 
  font-family: roboto, sans-serif;
  text-decoration: none;
  line-height: 50px;
  display: flex;
  padding: 0 30px ;
  margin: 5px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(4, 64, 175, 0.932);
}


.buttom{
  border: solid 2px rgba(65, 174, 247, 0.932);
  border-radius: 10px;

}


footer{
position: absolute;
width: 100%;

bottom: 10px;
}

p{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: relative;
text-align: center;
color: rgba(4, 64, 175, 0.932);
font-size: 12px;
}




@media (min-width:420px){

    h1{
        line-height: 30px;
        width: 100%;
        height: 300px; 
        font-size: 20px;   
      
      }

      img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        max-height: 200px;
        top: 0;
    
    }

    .CONTENEDOR-MENU{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      bottom: 0;
      top: 0%;
      transform: translateY(0%);
      
  }


  .CONTENEDOR-MENU a{
      justify-content: center;
      
      
  }


  footer{
    position: relative;
    top: 50%;
    transform: translateY(800%);
    
  }
  
  
  
  
  .copy{
    position: relative;
    top: 150%;
    width: 100%;
    color:rgba(4, 64, 175, 0.932);
    font-size: 12px;
    text-align: center;
        
    
  }
  
}







  @media (min-width:980px){

    h1{
        line-height: 100px;
        width: 100%;
        height: 100px; 
        font-size: 50px;   
    }
    
    img{
        position: absolute;
        max-height: 700px;
        top: 0;
        left: 50%;
        transform: translateX(-50%)translateY(25%);
    
    }
    
    
    .CONTENEDOR-MENU{
      position: relative;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      bottom: 0;
      top: 50%;
      transform: translateY(800%);
      
  }

    
    .CONTENEDOR-MENU a{
        position: relative;
        padding: 0 50px;
        margin: 0 20px;
        
      }
   

    p{
    font-size: 15px;
   
   
    }


    footer{
      position: relative;
      top: 0%;
      transform: translateY(3000%);
      
    }
    
    
    
    
    .copy{
      position: relative;
      width: 100%;
      color:rgba(4, 64, 175, 0.932);
      font-size: 12px;
      text-align: center;
          
      
    }




  }
