*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Roboto";
}



a{
    display: inline-block;
    
}

P{
    color: black;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo{
    width: 100px;
    
}

header .container nav a{
    color: red;
    text-decoration: none;
    margin: 0 15px;
}

header .container .hamb{
        display: none;
        
    }



footer.seccion{
    background-color: black;
    color: white;
    padding-bottom: 0;
    
}

footer .barra-footer{
    background-color: grey;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}


footer .logo-footer{
    width: 100%;
    
}

footer p{
    color: white;
    margin-bottom: 30px;
}



footer ul{
    padding-left: 0;
    list-style: none; 
    margin:0;
}

footer ul li{
    margin-bottom: 10px;
        
}


footer a{
    color: white;
    text-decoration: none;
}

footer .redes{
    font-size: 20px;
    display: flex;
    
    
}

footer .redes a{
    margin: 0 7.5px;
    

}


.boton{
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    
}

.boton.boton-rojo{
    color: white;
    background-color: red;
    font-size: 16px;
    font-weight: bold;
}

.boton.boton-blanco{
    color: red;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid red;
}

.boton.boton-negro{
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid red;
}







.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.cuadrado-perfecto{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
}

.cuadrado-perfecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;

}

.container{
    
    width: 1140px;
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.container-fluid{
    
    width: 100%;
    margin: 0 auto 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}







.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    padding-left: 15px;
    padding-right: 15px;
}


.columna-25{
    width: 25%;
    
}



.columna-33{
    width: 33.33%;
}


.columna-50{
    width: 50%;
}

.columna-41{
    width: 41.66%;
}


.empujar-58{
    margin-left: 58.3%;
}



.empujar-50{
    margin-left: 50%;
}

.empujar-0{
    margin-left: 0;
    
}

.empujar-mobile-0{
    margin-left: 10;
}

.sinpadding-mobile{
    padding: 0;
}

#Inicio{
    position: relative;
    width: 100%;
}

#Inicio img{
    width: 100%;
    display: block;
}

#Inicio .bloque-inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    margin-left: -50%;
    
}

#Inicio .bloque-inicio h1{
    color: white;
    font-size: 35px;
    margin: 5px 0;
    width: 100%;
    
    
}

#Inicio .bloque-inicio p{
    color: white;
    font-size: 16px;
    
    
}

#Nosotros{
    background-image: url(img/latas.jpg);
    background-size: cover;
}

#Nosotros p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 0;
    
}


#Servicios .bloque-servicio{
    border:1px solid grey;
}

#Servicios .bloque-servicio .bloque-img-servicio img{
    width: 100%;
}

#Servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto{
    padding-bottom: 56.25%;
}


#Servicios .bloque-servicio .bloque-contenido-servicio {
    padding: 15px;
    
}


#Servicios .bloque-servicio .bloque-contenido-servicio h3{
    
    margin-top: 0;
    font-size: 24px;
}



#Galeria h4{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    position: absolute;
    top: 80%;
    color: white;
    font-size: 18px;
    width: 100%;
    
}

#Galeria img{
    filter: grayscale(1);
    
}


#Galeria .cuadrado-perfecto:hover img{
    filter: grayscale(0);
    
}

#Galeria .cuadrado-perfecto:hover h4{
    display:none;
    
}




#Contactenos{
    position: relative;
    
    
}

#Contactenos iframe{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    
    
}


#Contactenos form {
    
    padding: 40px;
    background-color: red;
    
    
}

#Contactenos form .form-block{
    width: 100%;
    margin-bottom: 15px;  
    
}


#Contactenos form .form-block .form-control{
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

#Contactenos form .form-block textarea{
    display: block;
    height: 100px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

#Contactenos form .form-block.bloque-ultimo{
    margin-bottom: 0;
}


/*------ responsive ---------*/





@media(max-width:767px)
{
    body{
        font-size: 15px;
        
    }
    
    
    .container{
        width: 100%;
    }    
    
    
    
    
    
    
    .columna-mobile-100{
        width: 100%;
        
    }
    
    .columna-mobile-50{
        width: 50%;
        
    }
    
    
    
    
    header .container nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        padding: 80px;
        padding-bottom: 80px;
        padding-left: 15px;
        padding-right: 15px;
        top: 0;
        left: 0;
        display: flex;
        
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
        
    }
    
    header .container nav.open{
        transform: translateX(0%);
    }
    
    
    header .container nav a{
        font-size: 20px;
        margin: 10px 0;
        
    }
    
    header .container nav a:hover{
        
        background: red;
        color: white;
    }
    
    header .container .hamb{
        display: block;
        color:red;
        font-size: 25px;
        position: relative;
        right: 5px;
        
    }
    
    
    
    form .boton.boton-negro{
        width: 100%;
        
    }
    
    footer{
        text-align: center;
        
    }
    
    footer .logo-footer{
        width: 50%;
    }
    footer .redes{
        justify-content: center;
    }
    
    
    #Inicio {
        
        height: 100vh;
    }
    #Inicio img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #Inicio .bloque-inicio{
        height: 100%;
                    
        
    }
    
    
    #Servicios .bloque-servicio{
        margin-bottom: 15px;
        
    }
    
    #Contactenos{
        padding: 0;
    }
    
    #Contactenos iframe{
        position: relative;
        padding: 0;
    }
    
    .empujar-mobile-0{
     margin-left: 0;
}
    
}














